[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "layers/meta-intel-fpga"]
	path = layers/meta-intel-fpga
	url = https://git.yoctoproject.org/meta-intel-fpga
	branch = scarthgap
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
